.about-us-container {
  display: flex;
  flex-direction: column;
}

.about-us-container h2 {
  color: #c84c4b;
}

.about-us-container p {
  text-align: justify;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}

.intro-container {
  display: flex;
}

.intro-container > img {
  max-width: 150px;
  align-self: center;
}

.wcs-description {
  margin: 0 4%;
}
