.tech-logos {
  width: 125px;
  height: auto;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.about-us-container h2 {
  color: #c84c4b;
}

.about-us-container p {
  text-align: justify;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}

.intro-container {
  display: flex;
}

.intro-container > img {
  max-width: 100px;
  align-self: center;
}

.wcs-description {
  margin: 0 4%;
}

.techno-first-line,
.techno-second-line {
  display: flex;
  margin: 2% 0;
  justify-content: center;
}

.js-paragraph,
.react-paragraph,
.git-paragraph,
.github-paragraph {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
}
