.homePageBody {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.homePageDivMap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #c84c4b;
  /* min-height: 16rem;
  height: 10em;
  width: auto; */
}

.homePageDivMap h4 {
  color: white;
}

.homePageDivSport {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  /* min-height: 100%;
  height: 10em;
  width: auto;  */
}

.homePageDivSport h4 {
  color: #c84c4b;
}

.homePageIcon {
  height: auto;
  width: 20%;
  padding: 1em 0;
}

.homePageLinks:link,
.homePageLinks:hover {
  text-decoration: none;
}
