@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css?family=BenchNine&display=swap');

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box-list {
  text-align: left;
  font-family: 'BenchNine', sans-serif;
  font-size: 17px;
}

.box-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}

label {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
}
