h3 {
  font-family: 'Exo 2', 'Yanone Kaffeesatz', sans-serif;
}

div.map.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  position: relative;
  z-index: 2;
}

.map-container {
  height: 69vh;
}

.map {
  display: flex;
  height: 100%;
  width: 90%;
  border-radius: 15px;
  display: flex;
  align-content: center;
  margin-left: 5%;
  margin-bottom: 5%;
}

#toggler {
  background-color: #c84c4b;
  border: #c84c4b;
}

@media only screen and (min-width: 768px) {
  .map-container {
    height: 77vh;
  }
  .map {
    display: flex;
    width: 90%;
    height: 95%;
    border-radius: 15px;
    display: flex;
    align-content: center;
    margin-top: 3%;
  }
}
