.homePage-Mobile-Sports {
  display: flex;
  flex-direction: column;
}
.homePage-Mobile-Sports-Display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.homePage-Icons-Size {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 24%;
  margin: 15px;
  background-color: #ffffff;
  border: none;
}
.homePage-Icons {
  max-width: 100%;
}
.homePage-AllSports-btn {
  align-self: flex-end;
  border-radius: 1rem;
  background-color: #c84c4b;
  font-family: BenchNine;
  font-size: 24px;
  padding: 10px;
  margin-right: 17px;
  border: none;
}
