h4 {
  color: #c84c4b;
  margin: 0 3em;
  margin-top: 1em;
}
button {
  visibility: hidden;
}
​.hr {
  border: 1px solid #c84c4b;
  margin: 0 3em;
}
.sport-fullpage-container {
  margin-top: 60px;
}
.sportsProvider-container {
  display: flex;
  min-height: 100vh;
}
.link-alphabet {
  display: flex;
  flex-direction: column;
  top: 60px;
  right: 10px;
  bottom: 60px;
  position: fixed;
}
div.link-alphabet a {
  font-size: 17px;
}
.list-sports {
  align-self: flex-start;
}

@media screen and (max-height: 700px) {
  div.link-alphabet a {
    font-size: 14px;
  }
}
@media screen and (max-height: 600px) {
  div.link-alphabet a {
    font-size: 13px;
  }
}
@media screen and (max-height: 570px) {
  div.link-alphabet a {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .sport-fullpage-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .sportsProvider-container {
    margin-top: 50px;
    flex-direction: column;
  }
  .desktop-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .link-alphabet {
    flex-direction: row;
    top: 90px;
    bottom: 1050px;
    position: fixed;
    margin: 0;
  }
  div.link-alphabet a {
    font-size: 28px;
    padding: 1.5px;
  }
  .list-sports {
    margin-left: 40px;
  }
  button {
    position: fixed;
    visibility: visible;
    bottom: 70px;
    right: 25px;
    width: 150px;
    height: 70px;
  }
  button a {
    color: white;
    font-size: 40px;
  }
  button a:link,
  button a:hover,
  button a:active,
  button a:visited {
    text-decoration: none;
    color: white;
  }
  .sportlist-css-mapsearchbar {
    margin-left: 100px;
  }
}
@media screen and (min-width: 1100px) {
  .link-alphabet {
    margin-right: 2em;
  }
  div.link-alphabet a {
    font-size: 28px;
    padding: 3px;
  }
}
